*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Nunito', sans-serif;;
}

.container{
    display: inline-block; 
    width: 70%; 
    margin-left: auto;
    margin-right: auto;     
    text-align: center;
}

.container h1{
    font-weight: 900;
    color:#e53170;
    margin-bottom: 30px;
    
}

.container p{
    font-weight: 400;
}

