*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 2px solid red;
}

body{
    font-family: 'Nunito', sans-serif;;
}

.header{
    display: inline-block; 
    width: 70%; 
    margin-left: auto;
    margin-right: auto;     
    text-align: center;
}



.header h1{
    font-weight: 900;
    color:#e53170;
    margin-bottom: 30px;
    
}

.header p{
    font-weight: 400;
}

.container{
    padding-bottom: 20px;
}

.container .column{
    width: calc(100% / 3);
    float: left;
    padding: 0 16px;

}